.homeSearchFormControl {
  height: 80px;
}

.homeSearchSuggestionsWrapper {
}

.homeSearchSuggestionsList {
  position: absolute;
  padding-left: inherit;
  padding-right: inherit;
  left: 0;
  right: 0;
}
